<div class="container">
  <div class="row" style="text-align: center">
    <div class="navi_searchbar_wrapper col-md-12 col-lg-6">
      <i class="flaticon-magnifying-glass"></i>
      <input type="text" id="justAnotherInputBox" placeholder="search"/>
    </div>
    <div class="navi_searchbar_wrapper col-md-12 col-lg-6">
      <a  [routerLink]="['/user/playlists/create']"><i class="flaticon-playlist-3">Create</i></a>
    </div>
  </div>
</div>
<div class="album_inner_list auti m24_cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="album_list_wrapper2">
          <div class="album_list_wrapper album_list_wrapper_shop">
            <ul class="album_list_name m24_cover">
              <li>#</li>
              <li class="song_title_width">Song Title</li>
              <li class="song_title_width">Artist</li>
              <li class="text-center">time</li>
              <li class="text-center">Edit</li>
              <li class="text-center">remove</li>
            </ul>
            <ul class="album_inner_list_padding" *ngFor="let p of myPlaylist ; index as i">
              <li><a href="#"><span class="play_no">{{i + 1}}</span><span class="play_hover"><i
                class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">

                  <img src="{{p.image}}" alt="img" >


                  <!--                  <div class="top_song_artist_contnt">-->
                  <!--                    <h1><a href="#">{{song.nameSong}}</a></h1>-->
                  <!--                    <p class="various_artist_text"><a href="#">{{song.author}}</a></p>-->
                  <!--                    <audio controls>-->
                  <!--                      <source src="{{song.songUrl}}" style="width: 350px; height: auto">-->
                  <!--                    </audio>-->
                  <!--                  </div>-->

                </div>
              </li>
              <li class="song_title_width"><a href="#">{{p.description}}</a></li>
              <li class="text-center"><a href="#">3:26</a></li>

              <li class="text-center top_song_artist_playlist">
                <div class="m24_tranding_more_icon">
                  <i class="flaticon-menu"></i>
                </div>
                <a style="text-decoration: none"  [routerLink]="['/user/playlis/edit',p.id]">Edit</a>
              </li>
              <li class="text-center cancel_times"><a [routerLink]="['/user/songs/delete',p.id]"><i class="fas fa-times-circle"></i></a></li>
            </ul>
          </div>
          <div class="lang_apply_btn home_btn m24_cover">
            <ul>
              <li>
                <a href="#">view all</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  <button mat-raised-button color="primary" (click)="previous()">Previous</button>-->
  <!--  <button mat-raised-button color="primary" (click)="next()">Next</button>-->
</div>
