<div>
  <p>Upload File</p>
  <input type="file" (change)="onFileChanged($event)">
<!--  <mat-progress-bar *ngIf="checkUploadFile" mode="indeterminate"></mat-progress-bar>-->
  <div style="margin-bottom: 10px; margin-top: 10px">
    <button (click)="onUpload()" class="btn btn-primary"
            *ngIf="downloadURL?!selectedFile:selectedFile">Upload File
    </button>
  </div>
  <div *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">
    <audio controls>
      <source [src]="downloadURL" style="width: 350px; height: auto">
    </audio>
  </div>
</div>
