<div class="artist_wrapper m24_cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="artist_wrapper_content m24_cover">
          <img src="assets/images/artist1.jpg" class="img-responsive" alt="img">
          <div class="artist_wrapper_text">
            <div class="artist_wrapper_left">
              <h1>Tên bài hát</h1>
              <p>Tên nghệ sĩ</p>
              <p>Renowned for his soulful singing, Indian musician Arijit Singh is also a music composer, producer, recordist and programmer. He has several blockbuster songs to his credit and has won 23 awards so far, which makes him one of the most successful sing... Full Bio</p>
              <div class="artist_btn m24_cover">
                <div class="lang_apply_btn">

                  <a href="#"><i class="flaticon-play-button"></i> play all</a>

                </div>
                <div class="cancel_wrapper">
                  <a href="#"><i class="flaticon-trash"></i>  Xóa</a>
                </div>
              </div>
            </div>
            <div class="artist_list_icon">
              <div class="m24_tranding_more_icon">
                <i class="flaticon-menu"></i>
              </div>
              <ul class="tranding_more_option">
                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
