<form (ngSubmit)="createPlayList()">
  <div class="lang_m24_banner" id="login_modal" role="dialog">
    <div id="register_modal" role="dialog">
      <div class="col-10" style="margin: auto">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">&times</button>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="m24_language_box m24_cover">
                <h1>Tạo playlist mới</h1>
              </div>
              <div class="login_form_wrapper">
                <div class="icon_form comments_form">
                  <label class="labels">Tên Playlist</label><input type="text" class="form-control" placeholder="Tên playlist" name="namePlaylist" [(ngModel)]="playlist.namePlaylist">
                  <i class="fas fa-music"></i>
                </div>
                <label class="labels">Dòng nhạc</label>
                <div class="icon_form comments_form">
                  <select class="form-control" placeholder="Dòng nhạc" name="Dòng nhạc" [(ngModel)]="playlist.type" style="width: 100%; display: none;">
                    <option value="Trữ tình" style="width: 1110px; display: none;">Trữ tình
                    <option value="Cách mạng"style="width: 1110px; display: none;">Cách mạng
                    <option value="Remix"style="width: 1110px; display: none;">Remix
                  </select>
                  <i class="flaticon-files-and-folders"></i>
                </div>
                <label class="labels">Mô tả</label>
                <div class="icon_form comments_form">
                  <input type="text" class="form-control" placeholder="Mô tả" name="description" [(ngModel)]="playlist.description">
                  <i class="fas fa-file"></i>
                  <div class="lang_apply_btn_wrapper m24_cover">
                    <div class="lang_apply_btn">
                      <button class="btn btn-primary profile-button" type="submit">Save</button>
                    </div>
                    <div class="cancel_wrapper">
                      <a routerLink="/" class="" data-dismiss="modal">cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
