<div class="indx_title_main_wrapper">
  <div class="title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="indx_title_left_wrapper m24_cover">
          <h2>Playlist</h2>
          <ul>
            <li><a routerLink="">Home</a></li>
<!--            <li>All Songs In Playlist</li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="text-align: center">
  </div>
</div>
<div class="album_inner_list auti m24_cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="album_list_wrapper2">
          <div class="album_list_wrapper album_list_wrapper_shop">
            <ul class="album_list_name m24_cover">
              <li>STT</li>
              <li class="song_title_width">Image Playlist</li>
              <li class="song_title_width">Name Playlist</li>
              <li class="text-center">Description</li>
              <li class="text-center">List Song</li>
            </ul>
            <ul class="album_inner_list_padding" *ngFor="let playlist of playlist; index as i">
              <li><a href="#"><span class="play_no">{{i + 1}}</span><span class="play_hover"><i
                class="flaticon-play-button"></i></span></a></li>
              <li class="song_title_width">
                <div class="top_song_artist_wrapper">
                  <img src="{{playlist.image}}" alt="img" >
                </div>
              </li>
              <li class="song_title_width"><a href="#">{{playlist.namePlaylist}}</a></li>
              <li class="text-center"><a href="#">{{playlist.description}}</a></li>
<!--              <li class="text-center top_song_artist_playlist">-->
<!--                <div class="m24_tranding_more_icon">-->
<!--                  <i class="flaticon-menu"></i>-->
<!--                </div>-->
<!--              </li>-->
            </ul>
          </div>

          <div class="lang_apply_btn home_btn m24_cover">
            <div style="text-align: center">
              <button mat-raised-button color="primary" (click)="previous()" style="color: darkred">Previous</button>
              <button mat-raised-button color="primary" (click)="next()" style="color: darkred">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
