<div class="section">
  <div class="heading">
    <div class="d-flex flex-wrap align-items-end">
      <div class="flex-grow-1">
        <h4>Playlist của </h4>
      </div>
      <div class="col">
<!--        <form class="d-flex">-->
<!--          <input [(ngModel)]="keyword" name="keyword" class="form-control me-2" type="search" placeholder="Tìm Kiếm Playlist"-->
<!--                 aria-label="Search">-->
<!--          <button (click)="searchPlaylist()" class="btn ion-ios-search" type="submit" style="background-color: violet"></button>-->
<!--        </form>-->
      </div>
    </div>
    <hr>
  </div>
  <div class="row">
<!--    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 pb-4">-->
<!--      <div class="custom-card">-->
<!--        <div class="custom-card&#45;&#45;img">-->
<!--          <a [routerLink]="'/playlist/create/user'">-->
<!--            <img src="/assets/my_img/add.jpg" alt="add-playlist" class="card-img&#45;&#45;radius-md">-->
<!--          </a>-->
<!--        </div>-->
<!--        <a [routerLink]="'/playlist/create/user'" class="custom-card&#45;&#45;link mt-2 text-center">-->
<!--          <h6 class="mb-0">Thêm Playlist</h6>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

    <!--    đặt vòng lặp ở đây-->
    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 pb-4" *ngFor="let playlist of playlist; let i = index">
      <div class="custom-card">
        <div class="custom-card--img">

            <img src="{{playlist.image}}" alt="Network" class="card-img--radius-md">

        </div>
        <!--        đặt đường dẫn đến detail play list ở đây-->

          <h6 class="mb-0">
            {{playlist.namePlaylist}}
          </h6>

<!--        <a [routerLink]="['/playlist/edit/' + currentUser.username + '/' + playlist.id]">-->
<!--          <button type="button" class="btn btn-dark">Edit</button>-->
<!--        </a>-->
<!--        <button type="button" class="btn btn-warning" (click)="deletePlayList(playlist.id)">Delete</button>-->
      </div>
    </div>
  </div>
</div>
