
  <div class="m24_heading_wrapper">
    <h1>Featured Artists </h1>
  </div>

  <div class="featured_song_slider">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let artist of artists; index as i">

        <div class="featured_artist_list m24_cover">
          <img src="{{artist.avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a href="#">{{artist.nameArtist}} </a></p>
            <p class="various_artist_text"><a href="#">51 tracks</a> {{artist.likes}}Like</p>
            <div class="lang_apply_btn">
              <ul>
              </ul>

            </div>
<!--            <div class="top_song_list_picks featured_list_dropdown">-->
<!--              <div class="m24_tranding_more_icon">-->
<!--                <i class="flaticon-menu"></i>-->
<!--              </div>-->
<!--              <ul class="tranding_more_option">-->
<!--                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>-->
<!--                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>-->
<!--                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>-->
<!--                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>-->
<!--                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
        </div>

      </div>
    </div>
  </div>

