
  <div class="m24_heading_wrapper">
    <h1>Featured Artists </h1>
  </div>

  <div class="featured_song_slider">
    <div class="owl-carousel owl-theme">
      <div class="item" *ngFor="let artist of artists; index as i">

        <div class="featured_artist_list m24_cover">
          <img src="{{artist.avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a href="#">{{artist.nameArtist}} </a></p>
            <p class="various_artist_text"><a href="#">51 tracks</a> {{artist.likes}}Like</p>
            <div class="lang_apply_btn">
              <ul>
              </ul>

            </div>
        </div>

      </div>
    </div>
  </div>
  </div>

