<div class="lang_m24_banner" id="login_modal" role="dialog">
  <div id="register_modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="m24_language_box m24_cover">
              <h1>Create Song</h1>
              <p>for unlimited music streaming & a personalised experience</p>
            </div>
            <div class="login_form_wrapper">
              <div class="icon_form comments_form">

                <input type="text" class="form-control" name="first_name" placeholder="Tên bài hát">
                <i class="fas fa-music"></i>
              </div>

              <div class="icon_form comments_form">
                <input type="password" class="form-control" placeholder="Tác giả">
                <i class="far fa-address-card"></i>
              </div>
              <div class="icon_form comments_form">
                <input type="password" class="form-control" placeholder="Ca sĩ">
                <i class="flaticon-speaker"></i>
              </div>
              <div class="icon_form comments_form">
                <input type="password" class="form-control" placeholder="Dòng nhạc">
                <i class="flaticon-files-and-folders"></i>
              </div>
              <div class="icon_form comments_form">
                <input type="password" class="form-control" placeholder="Album">
                <i class="flaticon-vinyl"></i>
              </div>
              <div class="icon_form comments_form">
                <textarea class="form-control" name="full_name" placeholder="Mô tả bài hát"></textarea>
                <i class="fas fa-file"></i>
              </div>
              <div class="icon_form comments_form">
                <input type="button" class="form-control"  value="tải ảnh" >
              </div>
              <div class="icon_form comments_form">
                <input type="button" class="form-control" value="Ảnh đại diện">
              </div>
            </div>
            </div>
            <div class="lang_apply_btn_wrapper m24_cover">
              <div class="lang_apply_btn">

                <a href="#">Create</a>

              </div>
              <div class="cancel_wrapper">
                <a routerLink="/" class="" data-dismiss="modal">cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
